SECRET_KEY=django-insecure-replace-this-with-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CELERY_BROKER_URL=redis://localhost:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
TESSERACT_CMD=/opt/homebrew/bin/tesseract
NER_MODEL_NAME=d4data/biomedical-ner-all
SUMMARIZER_MODEL_NAME=google/flan-t5-base